<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Table Display</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Company Name</th>
            <th>Award</th>
            <th>Website Link</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
        </tr>
        {% for company in contacts %}
        <tr>
            <td>{{ company.id }}</td>
            <td>{{ company.company_name }}</td>
            <td>{{ company.award }}</td>
            <td>{{ company.link }}</td>
            <td>{{ company.email }}</td>
            <td>{{ company.phone_number }}</td>
            <td>{{ company.address }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>